
.container{
    padding: 2vw;
}
.template{
    display: block;
    height: 8vh;
    text-decoration: none;
    background-image: url('../../images/frame08@2x.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.across{
    height: 8vh;
    line-height: 8vh;
    display: flex;
    justify-content: space-between;
    padding: 0 6vw;
}
.across section{
    display: flex;
    align-items: center;
    height: 100%;
}
.info{
    height: 3vh;
    line-height: 3vh;
    font-size: 1.5rem;
    font-weight: 200;
    color: #333333;
}
.icon-right{
    width: 2vh;
    height: 2vh;
    margin-left: 2vw;
}
.mine-icon{
    width: 3vh;
    height: 3vh;
}

footer{
    position: fixed;
    bottom: 0;
}

footer ul li {
    height: 13vw;
}