.back03 {
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: -1;
}
.figure{
    width: 98%;
    margin: 0 0 2vh 1%;
    display: flex;
    flex-wrap: wrap;
}
.circle{
    width: 45%;
    height: 6vh;
}
.figure li{
    width: 45%;
    height: 6vh;
    margin-left: 3%;
    margin-top: 2vh;
    background-image: url(../../../images/frame03@2x.png);
    background-size: 100% 100%; 
    background-repeat: no-repeat;
}
.figure li a{
    text-decoration: none;
}
.figure-txt{
    color: #333333;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    line-height: 6vh;
}
.gray{
    font-size: 1.3rem;
    text-align: center;
    color: #999999;
    font-weight: 500;
}